body{
    font-family: Arial, Verdana, Tahoma ;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 49, 52);
}
nav{
    background-color: rgb(59, 55, 55);
    padding: 25px;
    text-align: center;
}
nav a{
    margin: 10px;
    text-decoration: none;
}
nav a:visited{
    color: rgb(195, 49, 52);
}
nav a:link{
    color: rgb(211, 202, 202);
}
nav a:hover{
    color: black;
}
footer{
    background-color: rgb(59, 55, 55);
    text-align: center;
    padding: 25px;
}
#justificado{
    margin: auto;
    width: 500px;
    padding-left: 170px;
}
#justificado p{
    text-align: left;
}
#refrao{
    font-weight: bold;    
}
figure img{
    opacity: 0.6;
}
#twt{
    margin-top: 10px;
}
.video{
    margin-bottom: 10px;
}
.borda_imagem img{
    border-radius: 5%;
}
.borda_imagem_hover img:hover{
    color: rgb(216, 199, 199);
    border-radius: 5%;
    box-shadow: 2px 2px 20px rgb(211, 202, 202);
}